<div>
	<h3>Hello, <%= @user.name %></h3>
</div>
<hr>
<%= link_to "Edit Profile", edit_user_path(@user) %>

<div class="add_room_form">
	<%= render partial: 'rooms/form', locals: {room: @room} %>
</div>

	<div class="col-xs-12">
		<h4>Your Current Rooms</h4>
		<% @user.rooms.each do |r| %>
			<div class="room_container">
				<h4><%= link_to r.name, "/rooms/#{r.random_url}", class: "col-xs-4 room_link" %></h4>
				<div>
				<%= link_to "X", room_path(r), method: :delete, class: "btn btn-danger col-xs-1 delete_buttons" %>
				</div>
			</div>
		<% end %>
	</div>


