<!DOCTYPE html>
<html>
<head>
  <title>ProjectTwo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
	<% if @current_user != nil %>
	<%= render partial: "layouts/navbar" %>
	<% end %>
		
		 <% if flash[:notice] %>
		   <div class="alert alert-danger col-md-12" role="alert">
		     <%= flash[:notice] %>
		   </div>
		 <% end %>
	  <%= yield %>

	  <script type="text/javascript">
	  app.readtAll();
	  </script>
</body>
</html>
